body{
    font-family: 'roboto';
    color: rgb(19, 100, 0);
}

.judul{
    background: #9ACD32;
    padding: 10px;
    text-align: center;

}

.judul h1,h2{
    height: 15px;
}

a{
    padding: 5px;
    text-decoration: none;
}

.table {
    border-collapse: collapse;
}

table.table th th , table.table tr td{
    padding: 10px 20px;
}